
.tecnology-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #DAC5A7;
}

.tecnology{
    width: 90%;
    margin: 0; 
    padding: 18px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
